# Customers segmentation

**Las Wagones** is a company selling IT equipment , from small consumable items to large printers. Las Wagones has identified 4 customers segments noted _A, B, C and D_. These segments have been identified by the Sales department based on a study of the historical buying behavior of the customers. The Marketing department is very interested in understanding who are the customers inside these segments at an early stage. They ordered you for a study. This study aims at understanding what are these 4 segments.

In [1]:
# Load the nbresult package to be able to save your results 
from nbresult import ChallengeResult

ModuleNotFoundError: No module named 'nbresult'

## Data collection (9.5%)

### Loading data from the database

Download the `customers.sqlite` database from this [URL](https://wagon-public-datasets.s3.amazonaws.com/certification_paris_2021Q1/customers.sqlite) and store it inside the `db` folder:

In [ ]:
!curl https://wagon-public-datasets.s3.amazonaws.com/certification_paris_2021Q1/customers.sqlite >> db/customers.sqlite

#### Database schema

**üìù Open the `db/customers.sqlite` from your favorite SQL client and draw the database schema on the [schema editor](https://kitt.lewagon.com/db) on Kitt. Save the schema as `customers.xml` in the `db` folder.**

#### Querying the data

We want to get the following information about **all** the 8068 customers from the database:
- `id`: the unique identifier of the customer
- `gender`: customer's gender
- `married`: whether or not the customer has ever been married
- `age`: customer's age
- `graduated`: whether or not the customer has a degree
- `score`: customer's spending score (first order)
- `family_size`: the number of members of the customer's family, including the customer
- `profession`: customer's profession
- `work_experience`: customer's work experience in years
- `segment`: the segment the customer belongs to

**üìù Write the SQL query you need to fetch the data. Save it as a `str` in the `query` variable.**

In [2]:
query = '''
SELECT c.id,
    c.gender,
    c.married,
    c.age,
    c.graduated,
    c.score,
    p.category AS profession,
    e.duration AS work_experience,
    c.segment, 
    COUNT(r.id)+1 as family_size 
FROM customers c
LEFT JOIN experiences e on e.customer_id = c.id 
LEFT JOIN relatives r on r.customer_id  = c.id 
LEFT JOIN professions p on p.id = e.profession_id
GROUP BY c.id'''

**üìù Connect to the database, execute the query and store the results into a `DataFrame` named `data`. Display the 10 first rows and the shape of the dataset.**

In [9]:
import sqlite3
conn = sqlite3.connect('db/customers.sqlite')
c = conn.cursor()

In [10]:
c.execute(query)

In [11]:
raw_data = c.fetchall()

In [12]:
import pandas as pd
data = pd.DataFrame(raw_data)

         0       1    2   3    4        5              6    7  8  9
0        1    Male   No  22   No      Low     Healthcare  1.0  D  4
1        2  Female  Yes  38  Yes  Average       Engineer  NaN  A  3
2        3  Female  Yes  67  Yes      Low       Engineer  1.0  B  1
3        4    Male  Yes  67  Yes     High         Lawyer  0.0  B  2
4        5  Female  Yes  40  Yes     High  Entertainment  NaN  A  6
...    ...     ...  ...  ..  ...      ...            ...  ... .. ..
8063  8064    Male   No  22   No      Low           None  NaN  D  7
8064  8065    Male   No  35   No      Low      Executive  3.0  D  4
8065  8066  Female   No  33  Yes      Low     Healthcare  1.0  D  1
8066  8067  Female   No  27  Yes      Low     Healthcare  1.0  B  4
8067  8068    Male  Yes  37  Yes  Average      Executive  0.0  B  3

[8068 rows x 10 columns]

#### üíæ Save your results

Run the following cell to save your results.

In [ ]:
ChallengeResult('sql', query=query).write()

### Loading data from a CSV file

**üìù Load the data from this [URL](https://wagon-public-datasets.s3.amazonaws.com/certification_paris_2021Q1/customers.csv) inside a `DataFrame` named `customers`.** 

Also, you can download the dataset into the `data` directory.

**üíæ Save your results**

Run the following cell to save your results.

In [ ]:
ChallengeResult('csv', data=customers).write()

## Data consulting challenge (33%)

### Data analysis & presentation

> Who are the customers composing the 4 segments? 

Based on the analysis of the `customers` dataset, prepare a slides deck to present your conclusions to the Marketing manager Debrah. The presentation must contain **5 slides maximum** (including the title slide). Feel free to choose the slide app of your choice.

‚ÑπÔ∏è Debrah is in fond of illustrations and statistics!

‚ö†Ô∏è Save your presentation in the current directory!

In [ ]:
# Start your data analysis!

### Segmentation relevance

Debrah has a doubt about the number of customers segments designed by the Sales department. Base on an empirical method, the elbow method, and a clustering approach **can you tell her if it is an optimal segmentation or not?**

Store the optimal number of segments inside the `n_clusters` variable.

**üíæ Save your results**

Run the following cell to save your results.

In [ ]:
ChallengeResult('clusters', n_clusters=n_clusters).write()

### Segment D statistics

In addition the marketing team is really interested in the **segment D** so you will have to answer some questions about it. 

To do so, we are considering a binary segmentation: **D vs the rest**. Download the `customers_encoded.csv` dataset from this [URL](https://wagon-public-datasets.s3.amazonaws.com/certification_paris_2021Q1/customers_encoded.csv) and store it into the `data` folder.

#### Loading data

In [ ]:
# Load the data and display the first rows

After loading the data you can see a new column `is_D` which take the value `1` if the customer belongs to the segment D, `0` otherwise.

#### Age analysis of segment D

‚ùì Using a statistical test, show than customers from segment D are **statistically younger** than the whole customers. 

Store the $p-value$ of your test inside a `p_value` variable.

In [ ]:
# Test

In [ ]:
# p_value

#### Segment D odds analysis

‚ùì What are the **odds** for a customer to be in the segment D?

Store the result inside a `odds` variable.

In [ ]:
# odds

‚ùì Considering a **married and graduated** customer, how are the odds of being part of segment D **multiplied** while **increasing** the age by 1 year?

Store the result inside a `odds_variation` variable.

In [ ]:
# odds_variation

####  üíæ Save your results

Run the following cell to save your results.

In [ ]:
ChallengeResult('segment_d', p_value=p_value, odds=odds, gap=odds_variation).write()

**‚ö†Ô∏è Save your notebook then commit and push your code on GitHub**